<template>
  <div>
    <div class="icon-post">
      <b-row>
        <b-col md="1" lg="1">
          <img src="./avatar.jpg" />
        </b-col>
        <b-col md="1" lg="1">
          <a href="#">
            <p>{{ data_post.name }}</p>
          </a>
        </b-col>
        <b-col md="10" lg="10"></b-col>
      </b-row>
    </div>
    <div class="title-post">{{ data_post.post_title }}</div>
    <div class="media-post">
      <a href="#">
        <iframe
          scrolling="no"
          width="100%"
          height="409"
          :src="data_post.post_media"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </a>
    </div>
    <div class="post-meta" style="height:50px;">
      <input readonly style="border:none;" v-model="rating_likee" />
      <!-- <section>{{ rating_like }}</section> -->
    </div>
    <div class="conment-post">
      <div class="row">
        <div class="col-md-6">
          <ul class="btn-vote left-up">
            <li>
              <b-button class="btn-vote-post" @click="handleLike(id)">
                <span>
                  <i aria-hidden="true" class="fa fa-thumbs-o-up"></i>
                </span>
              </b-button>
            </li>
          </ul>
          <div class="btn-vote left-up">
            <div>
              <li>
                <b-button class="btn-vote-post">
                  <span>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  </span>
                </b-button>
              </li>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="btn_facebook">
            <ShareNetwork
              network="facebook"
              url="http://localhost:9000/post/:id"
              title
              description
              quote
              hashtags
              twitterUser
            >
              <a class="btn btn-lg btn-social btn-facebook">
                <i class="fa fa-facebook fa-fw"></i>
                <span>Facebook</span>
              </a>
            </ShareNetwork>
          </div>
        </div>

        <div class="col-md-3">
          <div class="btn_facebook">
            <ShareNetwork
              network="pinterest"
              url="https://news.vuejs.org/issues/180"
              title
              description
              quote
              hashtags
              twitterUser
            >
              <a class="btn btn-lg btn-social btn-pinterets">
                <i class="fa fa-pinterest btn-social btn-facebook btn-pinterets"></i>
                <span>Pinterest</span>
              </a>
            </ShareNetwork>
            <span>Pinterest</span>
          </div>
        </div>
      </div>
    </div>
    <div class="comment_detail">
      <div class="textarea-box">
        <form @submit.prevent="handlecomment()" method="post">
          <b-row>
            <b-col class="icon-post" md="1" lg="1">
              <img style="clip-path: circle();" src="./bg_login.jpg" />
            </b-col>
            <b-col md="9" lg="9" offset="1" class="right-comment-text">
              <b-row>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="1"
                  v-model="text_comment"
                  placeholder="Write comments..."
                  style="height:50px;font-size: 12px;"
                ></textarea>
              </b-row>
              <b-row style="border: 1px solid #ced4da;height:40px">
                <b-col md="1" lg="1" mt="10">
                  <div class="action-comment-left">
                    <i class="fa fa-smile-o">
                      <!-- <input type="file"> -->
                    </i>
                  </div>
                </b-col>
                <b-col md="1" lg="1" mt="10">
                  <i class="fa fa-camera"></i>
                </b-col>
                <b-col md="10" lg="10" mt="10">
                  <div class="action-comment-right">
                    <div class="comment-action comment-cancel">
                      <b-button style="width: 70px;" class="btn btn-light">Cancel</b-button>
                    </div>
                    <div class="comment-action comment-post">
                      <button style="width: 70px;" class="btn btn-primary">Post</button>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </form>
      </div>
      <div class="list-comment"></div>
    </div>
    <div class="list-comment">
      <comment-app v-bind:id="id" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import comment from "../view/post-comment";
export default {
  props: ["id"],
  data() {
    return {
      data_post: {
        data_post: [],
      },
      list_comment: {
        list_comment: [],
      },
      count_like: 0,
      rating_like: "",
      user_id: "",
      currentPage: 1,
      perPage: 5,
      rows: 15,
      name: "",
      username: "",
      password: "",
      error: "",
      notiteMsg: "",
      text_comment: "",
      isActionLike: false,
      rating_likee: "",
    };
  },
  components: {
    "comment-app": comment,
  },
  created: function () {
    let obj = {};
    obj.post_id = this.id;
    axios
      .post("http://localhost:8000/countlike", obj)
      .then((req) => {
        this.rating_like = req.data[0].countlike;
        let asdasd = " người thích bài này";
        let rating_like = req.data[0].countlike;
        this.rating_likee = rating_like + asdasd;
        console.log(rating_likee);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  mounted() {
    let obj = {};
    obj.post_id = this.id;
    axios
      .post("http://localhost:8000/getpost", obj)
      .then((req) => {
        this.data_post = req.data[0];
        let data_post = req.data[0];
        // console.log(data_post);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  computed: {
    handlecomment() {
      console.log(this.text_comment);
      let cookie = this.$cookies.get("user");
      let user_id = cookie.data[0].user_id;
      let obj = {};
      obj.post_id = this.id;
      obj.user_id = user_id;
      obj.comment = this.text_comment;
      console.log(obj);
      axios
        .post("http://localhost:8000/addcomment", obj)
        .then((req) => {
          console.log(req);
          this.text_comment = "";
          this.getcomment();
        })
        .catch((error) => {
          console.log(error);
        });
      this.renderComponent = true;
    },
    getcomment() {
      console.log(this.id);
      let obj = {};
      obj.post_id = this.id;
      axios
        .post("http://localhost:8000/getcomment", obj)
        .then((req) => {
          this.list_comment = req.data;
          let list_comment = req.data;
          console.log(list_comment);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleLike(id) {
      console.log(this.id);
      let action = "like";
      let cookie = this.$cookies.get("user");
      if (cookie) {
        this.rating_like = this.rating_like + 1;
        let user_id = cookie.data[0].user_id;
        console.log("a");
        //  console.log(count_like)
        this.count_like = this.count_like + 1;
        console.log(this.count_like);
        let obj = {};
        obj.post_id = this.id;
        obj.user_id = user_id;
        obj.action = action;
        // console.log(obj)
        if (this.isActionLike == false) {
          axios
            .post("http://localhost:8000/rating", obj)
            .then((res) => {
              this.isActionLike = true;
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          axios
            .post("http://localhost:8000/deleterating", obj)
            .then((res) => {
              this.isActionLike = false;
            })
            .catch((error) => {
              console.log(error);
            });
        }
      } else {
        alert("ban chua dang nhap");
      }
    },
  },
  watch: {},
};
</script>

<style>
</style>