<template>
  <div>
    <div
      class="comment_list"
      v-for="(list_comment,index) in list_comment"
      :key="list_comment.post_id"
      :product="index"
    >
      <b-row>
        <b-col class="icon-post" md="1" lg="1">
          <img style="clip-path: circle();" src="./bg_login.jpg" />
        </b-col>
        <b-col md="9" lg="9" offset="1" class="right-comment-text">
          <b-row class="comment-reply">
            <a href="#">{{ list_comment.name }}</a>
            <!-- Example split danger button -->
              <div class="btn-group">
                <button type="button" class="drop_comment dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" style=" font-size: 12px;">
                  <a class="dropdown-item" href="javascrip:void(0)" @click="handledelecomment(list_comment.comment_id)">Delete</a>
                  <a class="dropdown-item" href="#">Copy link</a>
                  <a class="dropdown-item" href="#">Report Comment</a>
                  <a class="dropdown-item" href="#">I just don't it</a>
                </div>
              </div>
          </b-row>
          <b-row>
            <h5>{{ list_comment.comment }}</h5>
          </b-row>
          <b-row class="comment-reply">
            <a href="javascript:void(0)"  @click="handleReplyComment()">Reply</a>
          </b-row>
          
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["id"],
  data() {
    return {
      list_comment: {
        list_comment: [],
      },
    };
  },
  // mounted(){
  //   this.handlegetcomment(this.id);
  // },
  // created: {
  //   handlegetcomment() {
  //     console.log(this.id);
  //     let obj = {};
  //     obj.post_id = this.id;
  //     axios
  //       .post("http://localhost:8000/getcomment", obj)
  //       .then((req) => {
  //         this.list_comment = req.data;
  //         let list_comment = req.data;
  //         console.log(list_comment);
  //       })
  //       .catch((error) => {
  //         console.log(error);
  //       });
  //   },
  // },
  created() {
    console.log(this.id);
    let obj = {};
    obj.post_id = this.id;
    axios
      .post("http://localhost:8000/getcomment", obj)
      .then((req) => {
        this.list_comment = req.data;
        let list_comment = req.data;
        console.log(list_comment);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods:{
    handledelecomment(comment_id){
      let obj = {};
      obj.comment_id = comment_id;
       axios
      .post("http://localhost:8000/deletecomment", obj)
      .then((req) => {
        console.log('delete comment thanh cong')
      })
      .catch((error) => {
        console.log(error);
      });
    },
    
  },
};
</script>

<style>
.comment_list a {
  width: 200;
}
</style>