<template>
  <header>
    <div class="header-page">
      <div class="header-nav">
        <b-navbar toggleable="lg" type="dark" variant="dark" id="header-nav">
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item href="#" class="logo-header">
                <img src="@/assets/header.png" @click="backhome($event)" />
              </b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-form class="nav_form_head">
                <i class="fa fa-adjust" aria-hidden="true" v-on:click="handledarkmode()"></i>
              </b-nav-form>
              <b-nav-form class="nav_form_head">
                <i class="fa fa-search" aria-hidden="true" @click="handlesreach()"></i>
                <div class="search-box">
                  <input type="text" placeholder="Search" />
                </div>
              </b-nav-form>
              <b-nav-form>
                <b-nav-item href="javascript:void(0)" @click="checklogin()">{{ login }}</b-nav-item>
                <b-nav-item
                  href="javascript:void(0)"
                  class="active"
                  @click="checkuploads()"
                >{{ uploads }}</b-nav-item>
              </b-nav-form>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>

        <!-- popup login -->
        <b-modal
          id="bv-modal-login"
          modal-class="medium"
          title="Login"
          hide-footer
          :noCloseOnEsc="true"
          :noCloseOnBackdrop="true"
          :centered="true"
        >
          <div class="d-block text-center">
            <form @submit.prevent="handleLogin" method="post">
              <!-- <span class="title_success">{{messageAction}}</span> -->
              <div class="content-popups">
                <h2>
                  <b>Log In</b>
                </h2>
                <p>Connect with a social network</p>
                <div class="alert alert-danger" v-if="error">
                  <p>{{ error }}</p>
                </div>
                <div class="row loginfagole">
                  <div class="col-md-6">
                    <div class="text-center social-btn">
                      <a href="#" class="btn btn-primary btn-block">
                        <i class="fa fa-facebook"></i>
                        <b>Facebook</b>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center social-btn">
                      <a href="#" class="btn btn-danger btn-block">
                        <i class="fa fa-google"></i>
                        <b>Google</b>
                      </a>
                    </div>
                  </div>
                </div>
                <p>Log in with your Email</p>
                <div class="form-group">
                  <p>
                    <b>Email</b>
                  </p>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your username"
                    v-model="username"
                    required
                  />
                </div>
                <div class="form-group">
                  <p>
                    <b>Password</b>
                  </p>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter your password"
                    v-model="password"
                    required
                  />
                </div>
                <button class="btn btn-primary">log In</button>
              </div>
              <div class="popup-footer">
                <span>
                  <center>
                    <b>Get 9GAG app</b>
                  </center>
                </span>

                <div class="row btn_dowloadapp">
                  <div class="col-md-4 dow_app_store">
                    <a href="#">
                      <img src="./appstore.png" />
                    </a>
                  </div>
                  <div class="col-md-4 dow_app_googleplay">
                    <a href="#">
                      <img src="./googleplay.png" />
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </b-modal>

        <!-- popup sing up -->
        <b-modal
          id="bv-modal-singup"
          modal-class="medium"
          title="Login"
          hide-footer
          :noCloseOnEsc="true"
          :noCloseOnBackdrop="true"
          :centered="true">
          <div class="d-block text-center">
            <form @submit.prevent="handlesingup" method="post">
              <!-- <span class="title_success">{{messageAction}}</span> -->
              <div class="content-popups">
                <h2>
                  <b>Hey there!</b>
                </h2>
                <p>9GAG is your best source for fun. Share anything you find interesting, get real responses from people all over the world, and discover what makes you laugh</p>
                <div class="alert alert-danger" v-if="error">
                  <p>{{ error }}</p>
                </div>
                <div class="row loginfagole">
                  <div class="col-md-6">
                    <div class="text-center social-btn">
                      <a href="#" class="btn btn-primary btn-block">
                        <i class="fa fa-facebook"></i>
                        <b>Facebook</b>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center social-btn">
                      <a href="#" class="btn btn-danger btn-block">
                        <i class="fa fa-google"></i>
                        <b>Google</b>
                      </a>
                    </div>
                  </div>
                </div>
                <p>
                  Sign up with your
                  <a href="javascript:void(0)" @click="openregister()">Email</a>
                </p>
                <p>
                  Have an account?
                  <a href="javascript:void(0)" @click="openlogin()">Log in</a>
                </p>
                <div class="row btn_dowloadapp">
                  <div class="col-md-4 dow_app_store">
                    <a href="#">
                      <img src="./appstore.png" />
                    </a>
                  </div>
                  <div class="col-md-4 dow_app_googleplay">
                    <a href="#">
                      <img src="./googleplay.png" />
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </b-modal>
        <!-- end popup sing up -->

        <!-- popup register -->
        <b-modal
          id="bv-modal-register"
          modal-class="medium"
          title="Login"
          hide-footer
          :noCloseOnEsc="true"
          :noCloseOnBackdrop="true"
          :centered="true">
          <div class="d-block text-center">
            <form @submit.prevent="handleregister" method="post">
              <!-- <span class="title_success">{{messageAction}}</span> -->
              <div class="content-popups">
                <h2>
                  <b>Become a member</b>
                </h2>
                <div class="alert alert-danger" v-if="error">
                  <p>{{ error }}</p>
                </div>
                <div class="form-group">
                  <p>
                    <b>Full name</b>
                  </p>
                  <input type="text" class="form-control" v-model="fullname" required />
                </div>
                <div class="form-group">
                  <p>
                    <b>Email</b>
                  </p>
                  <input type="text" class="form-control" v-model="email" required />
                </div>

                <div class="form-group">
                  <p>
                    <b>Password</b>
                  </p>
                  <input type="password" class="form-control" v-model="pass" required />
                </div>
                <button class="btn btn-primary">log In</button>
                <div class="row btn_dowloadapp">
                  <div class="col-md-4 dow_app_store">
                    <a href="#">
                      <img src="./appstore.png" />
                    </a>
                  </div>
                  <div class="col-md-4 dow_app_googleplay">
                    <a href="#">
                      <img src="./googleplay.png" />
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </b-modal>
        <!-- end register -->

        <!-- popup thong bao -->
        <b-modal
          id="bv-modal-success"
          title="Thông báo!"
          hide-footer
          :noCloseOnEsc="true"
          :noCloseOnBackdrop="true"
          :centered="true">
          <div class="d-block text-center">
            <span class="title_success" v-html="notiteMsg"></span>
            <div class="popup-footer">
              <b-col cols="12">
                <b-button
                  type="button"
                  variant="danger"
                  class="mt-3"
                  @click="$bvModal.hide('bv-modal-success')"
                >Đóng</b-button>
              </b-col>
            </div>
          </div>
        </b-modal>
        <!-- popup uploads post  -->

        <b-modal id="bv-modal-newpost" hide-footer>
          <div class="d-block text-center">
            <h4>
              <b>Uploads a Post</b>
            </h4>
            <p>Choose how you want to upload the post</p>
           <div class="conten-popups">
             <div class="conten-top-popups text-center">
                <input
                style="display: none;"
                id="file-upload"
                type="file"
                ref="file"
                @change="onSelect"/>
              <label id="lable_inputfile" for="file-upload">
                <i class="fa fa-file" style="font-size:80px;margin-top:50px"></i>
                <b-row>
                <span style="margin:5px 31%;">Drop image to upload or</span>
                </b-row>
                <b-row class="gag_tag choosefile">
                  <a href="#" >Choose files...</a>
                </b-row>
                
            </label>
            <b-row style="width:90%;margin:10px auto;">
                <b-col md="4" lg="4" class="conten-last-popups-uploads" >c
                </b-col>
                <b-col md="4" lg="4" class="conten-last-popups-uploads">c
                </b-col>
                <b-col md="4" lg="4" class="conten-last-popups-uploads">c
                </b-col>
                </b-row>
             </div>
           </div>
          </div>
        </b-modal>

        <!-- end popup post -->
      </div>
    </div>
  </header>
</template>

<script>
import axios from "axios";
import VueCookies from "vue-cookies";
export default {
  data() {
    return {
      isAction: false,
      user: "",
      results: {
        results: [],
      },
      username: "",
      password: "",
      error: "",
      notiteMsg: "",
      fullname: "",
      pass: "",
      email: "",
      login: "",
    };
  },
  mounted: function () {
    if (this.$cookies.get("user")) {
      let cookie = this.$cookies.get("user");
      let user_name = cookie.data[0].name;
      this.login = user_name;
      this.uploads = "Uploads";
    } else {
      this.login = "Log in";
    }
  },
  methods: {
    handlesreach() {
      $(".search-box").toggle();
      $("input[type='text']").focus();
    },
    handledarkmode() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    },
    checklogin() {
      if (this.$cookies.get("user")) {
        this.logout();
      } else {
        this.$bvModal.show("bv-modal-login");
      }
    },
    checkuploads() {
      if (this.$cookies.get("user")) {
        this.uploadpost();
      } else {
        this.$bvModal.show("bv-modal-singup");
      }
    },
    handleLogin() {
      let obj = {};
      obj.username = this.username;
      obj.password = this.password;
      console.log(obj);
      axios.post("http://localhost:8000/users/auth", obj).then((res) => {
        console.log(res);
        if (res.data.success == false) {
          this.$bvModal.hide("bv-modal-login");
          this.notiteMsg = "Đăng nhập thất bại!";
          this.$bvModal.show("bv-modal-success");
        } else {
          VueCookies.set("user", res, "1m");
          this.$bvModal.hide("bv-modal-login");
          this.notiteMsg = "Đăng nhập thành công!";
          this.$bvModal.show("bv-modal-success");
        }
      });
    },
    handleregister() {
      let obj = {};
      obj.fullname = this.fullname;
      obj.email = this.email;
      obj.pass = this.pass;
      console.log(obj);
      axios.post("http://localhost:8000/users/register", obj).then((res) => {
        if (res.status == 200) {
          console.log(res.status);
          VueCookies.set("user", res, "1m");
          this.$bvModal.hide("bv-modal-register");
          this.notiteMsg = "Đăng ký thành công!";
          this.$bvModal.show("bv-modal-success");
        } else {
          console.log(res.status);
          this.$bvModal.hide("bv-modal-login");
          this.notiteMsg = "Đăng nhập thất bại!";
          this.$bvModal.show("bv-modal-success");
        }
      });
    },
    uploadpost() {
      this.$bvModal.show("bv-modal-newpost");
    },
    openregister() {
      this.$bvModal.hide("bv-modal-singup");
      this.$bvModal.show("bv-modal-register");
    },
    openlogin() {
      this.$bvModal.hide("bv-modal-singup");
      this.$bvModal.show("bv-modal-login");
    },
    backhome(e) {
      e.preventDefault();
      this.$router.push("/");
    },
    logout() {
      let isDel = confirm("Bạn có muốn xóa bản ghi này không?");
      if (isDel) {
        this.$cookies.remove("user");
        this.$router.push("/");
      }
    },
  },
};
</script>

<style>
.conten-top-popups {
  width: 100%;
}
#lable_inputfile {
  width: 90%;
  margin: 0 auto;
  height: 240px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.choosefile a{
  background: #09f;
  color: white;
  margin: 15px 38%;
}
.conten-last-popups-uploads {
  border: 1px solid #ddd;
  height: 120px;
  margin: 0 5px;
}
</style>