<template>
  <div id="app">
    <div>
      <div>
        <div class="sidebar-container">
          <div class="vertical-menu">
            <div class="sidebar">
              <ul>
                <li>
                  <i class="fa fa-firefox"></i>
                  <a href="#" class="active" @click="handleHot()">Hot</a>
                </li>
                <li>
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  <a href="#">Trending</a>
                </li>
              </ul>
              <p></p>
              <span style="color:black;">POPULAR</span>
              <ul v-for="results in data_theme" :key="results.theme_post" :product="results">
                <li>
                   <router-link :to="{name:'theme',params:{id:results.theme_id }}">{{ results.theme_post }}
                      <img :src="results.theme_image" />
                   </router-link>
                   
                
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      item: {},
      data_theme: {
        data_theme: [],
      },
    };
  },
  mounted: function () {
    axios
      .get("http://localhost:8000/gettheme")
      .then((req) => {
        this.data_theme = req.data;
        // console.log(data);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods:{
    handleHot(){
       this.$router.push("/hot");
    }
  }
};
</script>
<style>
</style>

