<template>
  <div class="containre-right">
      <div class="right-post" 
        
        >
          <div>
              <a href="#">
                <img src="@/assets/images/r1.jpg" />
                <p>Artist Reimagines Fast Food Mascots As Villains</p>
              </a>
          </div>

         <div>
             <a href="#">
                <img src="@/assets/images/r2.jpg" />
                <p>Artist Reimagines Fast Food Mascots As Villains</p>
            </a>
        </div>
      
        <div>
            <a href="#">
                <img src="@/assets/images/r3.jpg" />
                <p>Best video today haha</p>
            </a>

        </div>
        <div>
             <a href="#">
                <img src="@/assets/images/r4.jpg" />
                <p>Karens Gone Wild ( COVID-19 Edition) Buy your DVD now and get a free Vaccination</p>
            </a>
        </div>
  </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            items: [
          { right_id:1, image:"@/assets/images/r1.jpg" , title: 'Artist Reimagines Fast Food Mascots As Villains'},
          { right_id:2, image:"@/assets/images/r2.jpg" , title: 'Artist Reimagines Fast Food Mascots As Villains'},
          { right_id:3, image:"@/assets/images/r3.jpg" , title: 'Best video today haha'},
          { right_id:4, image:"@/assets/images/r4.jpg" , title: 'Karens Gone Wild ( COVID-19 Edition) Buy your DVD now and get a free Vaccination'},
        ]
        }
    }
}
</script>

<style>
.containre-right{
   position: relative;
   display: contents;
}
.right-post a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
   
.right-post {
  position: fixed;
  width: 20%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
}
::-webkit-scrollbar {
width: 0px; 
}
.right-post img{
   width: 90%;
}.right-post a:hover{
    color:#09f ;
}
</style>